__pycache__/
/*.log
.envrc

################################################################################
# Python

# Project files
/.venv/
*.egg-info/

# Test files
/.coverage
/htmlcov/

# Documentation
/docs/

# Collected static files
/staticfiles/

# Temporary files
.*cache/
/tmp/

################################################################################
# E2E

# Selenium
geckodriver.log

# Pomace
pomace.yml

# Jupyter
.ipynb_checkpoints/

################################################################################
# Heroku

bin/start-pgbouncer
