__pycache__/
/*.log
.envrc

################################################################################
# Python

# Project files
/.venv/
*.egg-info/

# Test files
/.coverage
/htmlcov/
.*cache/

# Collected static files
/staticfiles/
